<div class="side-navigation">
  <div class="logo">
    <a href="/">
      <img src="/img/logo.png" />
    </a>
  </div>

  <div id="side-menu" class="side-menu">
    <a href="/solutions">Solutions</a>
    <a href="/apis">APIs</a>
    <a href="/new-and-experimental">New & Experimental</a>
    <a href="/partner-apis">Partner APIs</a>
    <a href="/blog">Blog</a>
    <a href="/support">Support</a>
    <hr />
    <a href="/search">Search</a>
  </div>

  <div id="documentation-toc" class="documentation-toc"></div>
</div>
