<a href="#" class="lang-selector" data-language="go">Go</a>
<a href="#" class="lang-selector" data-language="ruby">ruby</a>
<a href="#" class="lang-selector" data-language="python">python</a>
<a href="#" class="lang-selector" data-language="shell">shell</a>
<a href="#" class="lang-selector" data-language="javascript">javascript</a>
{{ $filePath := .Get "filePath"  }}
{{ with .Site.GetPage $filePath }}
{{ .Content }}
{{ end }}
