{{ $img := $.Page.Resources.GetMatch (.Get 0) }}
{{ $alt := (.Get 1) }}
{{ with $img }}
<figure>
	<img src="{{ $img.RelPermalink }}" alt="{{ print $alt }}" />
	<figcaption>{{ print $alt }}</figcaption>
</figure>
{{ end }}