{{ define "main" }}
  {{ .Content }}
  <div class="grid-container">
    {{ range first 10 .Pages }}
      <div class="grid-item">
        <h2><a href="{{ .RelPermalink }}">{{ .Title }}</a></h2>

        <div class="description">
            {{ .Description }}
        </div>

        <div class="grid-item-action">
          <a href="{{ .RelPermalink }}">Read More…</a>
          <a href="/documentation/assuranceiq/1.0.0">Documentation</a>
        </div>
      </div>
    {{ end }}
  </div>
{{ end }}