#content {
  width: 100%;
}

.container {
  display: flex;
  flex-direction: row;
}

.logo {
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
}

.side-menu {
  display: flex;
  flex-direction: column;
  width: 180px;
  padding: 40px;
}

.documentation {
  display: flex;
}

.documentation-toc {
  width: 200px;
  margin-left: 40px;
  margin-top: 20px;
}

.documentation-toc ul {
  padding: 0;
  list-style-type: none;
}

/* .sidebar ul:nth-child(1) li {
  font-size: 12px;
  margin-bottom: 30px;
  border: 1px solid black;
} */

.documentation-toc ul a {
  color: black;
  text-decoration: none;
}

.documentation-toc ul a:active {
  color: black;
}

.documentation-toc ul a:active {
  color: black;
}

.documentation-toc ul ul li {
  font-size: 16px;
  margin-bottom: 30px;
}

.documentation-toc ul ul ul li {
  font-size: 12px;
  margin-bottom: 5px;
}

.documentation-toc-logo {
  width: 120px;
  height: 30px;
  margin-bottom: 20px;

}

.content {
  width: 100%;
}

table, th, td {
  border: 1px solid black;
}

table {
  width: 100%;
}

th:nth-child(1){
  width: 180px;
}

pre {
  padding: 20px;
}

.grid-container {
  display: flex;
  flex-wrap: wrap;
}

.grid-item {
  width: 280px;
  padding: 20px;
  border: 1px solid lightgray;
}

.grid-item img {
  max-width: 280px;
}

.grid-item-action {
  display: flex;
  margin-top: 20px;
  justify-content: space-between;
}

.blog {
  margin: 40px;
}

.blog img {
  width: 100%;
}

.flex-container {
  display: flex;
  display: -ms-flex;
  display: -webkit-flex;
}

.flex-container > .flex-column {
  flex: 1;
  padding: 0 30px;
}

@media only screen and (max-width: 768px) {

  .flex-container {
    flex-direction: column;
  }

  .flex-container > .flex-column {
    padding: 0;
}