<!DOCTYPE html>
<html>
    {{- partial "head.html" . -}}
    <body>
        {{- partial "header.html" . -}}
        <div class="container">
            {{- partial "sidebar.html" . -}}
            <div id="content">
                {{- block "main" . }}{{- end }}
                {{- partial "footer.html" . -}}
            </div>
        </div>
    </body>
</html>
