{{ define "main" }}
  {{ .Content }}
  <div class="grid-container">
    {{ range first 20 .Pages }}
      <div class="grid-item">
        {{ $heroImage := .Resources.GetMatch ("heroImage") }}
        {{ with $heroImage }}
          <img src="{{ $heroImage.RelPermalink }}">
        {{ end }}
        <h2><a href="{{ .RelPermalink }}">{{ .Title }}</a></h2>

        <div class="description">
            {{ .Description }}
        </div>
      </div>
    {{ end }}
  </div>
{{ end }}