{{ define "main" }}
  <div class="documentation">
    <div class="content">
      {{ .Content }}
    </div>
  </div>
  <script>
    $(document).ready(function() {
      $('#documentation-toc').html("{{ .TableOfContents }}");
    });
  </script>
{{ end }}